<app-topbar [changeEnvironment]="true" />

<div class="px-10 py-5 bg-gray-200">
  <div class="mx-auto max-w-7xl">
    <div class="mt-10 bg-white rounded p-10">
      <div class="flex justify-between items-start">
        <div>
          <h4 class="text-gray-800 text-2xl font-bold">Material didático</h4>
          <h6 class="text-gray-600">
            Acesse suas últimas apresentações de aula.
          </h6>
        </div>
      </div>

      <div class="mt-10 grid grid-cols-5 gap-x-5 gap-y-10">
        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>

        <!-- thumb -->
        <div>
          <div
            class="h-44 bg-gray-600 rounded flex items-end bg-cover"
            style="background-image: url('/assets/image/material-asset.png')"
          >
            <span
              class="text-sm m-4 bg-black bg-opacity-70 rounded-full px-3 py-1 text-white"
            >
              5 Slides
            </span>
          </div>
          <p class="text-gray-800 font-semibold mt-3">
            Aula 1: Fono-ortografia
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
