<app-topbar [changeEnvironment]="true" />

<div class="px-10 py-5 bg-gray-200">
  <div class="mx-auto max-w-7xl">
    <div class="mt-10 bg-white rounded-lg p-10">
      <div class="flex justify-between items-start">
        <div>
          <h4 class="text-neutral-dark text-2xl font-bold">
            Material didático
          </h4>
          <h6 class="text-neutral-cloudy font-normal mt-1">
            Acesse suas últimas apresentações de aula.
          </h6>
        </div>
      </div>

      <div class="mt-10 grid grid-cols-5 gap-x-5 gap-y-10">
        <app-thumb total="2" title="Aula 23: Fono-ortografia" />
        <app-thumb total="4" title="Aula 23: Fono-ortografia" />
        <app-thumb total="11" title="Aula 23: Fono-ortografia" />
      </div>
    </div>
  </div>
</div>
