<div class="mt-10 bg-white rounded-lg p-10">
  <div class="flex justify-between items-start">
    <div>
      <div class="flex space-x-3">
        <div
          class="py-1 px-2 leading-none bg-neutral-light text-neutral-cloudy font-medium rounded-full"
        >
          Semana 06/02 até 28/02
        </div>
        <button type="button">
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.5 17.1L7.0667 11.6667C6.42503 11.025 6.42503 9.97499 7.0667 9.33333L12.5 3.89999"
              stroke="#7183A6"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button type="button">
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.42505 17.1L12.8584 11.6667C13.5 11.025 13.5 9.97499 12.8584 9.33333L7.42505 3.89999"
              stroke="#7183A6"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <h4 class="text-neutral-dark text-2xl font-bold mt-4">
        {{ title }}
      </h4>
      <h6 class="text-neutral-cloudy font-normal mt-1">
        {{ subtitle }}
      </h6>
    </div>
    <a
      *ngIf="action"
      [routerLink]="action.to"
      [target]="action.target"
      class="px-5 py-3 border border-current rounded-lg text-blue-700"
    >
      {{ action.text }}
    </a>
    <ng-content select="[action]"></ng-content>
  </div>

  <div class="mt-10 flex space-x-5">
    <app-thumb total="2" title="Aula 23: Fono-ortografia" />
    <app-thumb total="2" title="Aula 23: Fono-ortografia" />
    <app-thumb total="2" title="Aula 23: Fono-ortografia" />
    <app-thumb total="2" title="Aula 23: Fono-ortografia" />
  </div>
</div>
